<h1>Questions</h1>

<%= form_tag nil, method: :get do %>
  <%= text_field_tag :q, @query %>
  <%= submit_tag 'Search' %>
  <% if params[:q] %>results for "<%= params[:q] %>" | <%= link_to 'reset search', root_path %><% end %>
<% end %>

<table>
  <tbody>
    <tr>
      <th colspan="2">User</th>
      <th>Question</th>
      <th>Answers</th>
      <th>Updated</th>
    </tr>
  </tbody>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= image_tag question.avatar, width: 50, height: 50 %></td>
        <td><%= question.author %></td>
        <td><%= link_to question.title, question %></td>
        <td><%= question.number_of_answers %></td>
        <td><%= l question.updated_at, format: :short %></td>
        <td><%= link_to_if question.belongs_to?(current_user), 'Edit', edit_question_path(question) %></td>
        <td><%= link_to_if question.belongs_to?(current_user), 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'shared/pagination', pagination: @pagination %>
