<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if alert %>
    <div class="flash"><%= alert %></div>
    <% end %>

    <% if notice %>
    <div class="flash"><%= notice %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
