<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if alert %>
    <div class="flash"><%= alert %></div>
    <% end %>

    <% if notice %>
    <div class="flash"><%= notice %></div>
    <% end %>

    <nav>
      <ul>
        <% if current_user %>
          <li>Hi, <%= current_user.name %>!</li>
          <li><%= link_to 'Sign out',  sign_out_path, method: :post %></li>
        <% else %>
          <li><%= link_to 'Sign in with google', google_sign_in_url %></li>
        <% end %>
        <li><%= link_to 'List questions', root_path %></li>
        <li><%= link_to 'Ask new question', new_question_path %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
